<h1>Receitas</h1>

  <% @recipes.each do |recipe| %>
  
    <article>
      <header>
        <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
        <%# imagem(recipe) %>
      </header>
    </article>
  <% end %>

<%= form_tag recipes_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a recipe"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>