<h1>Receitas</h1>

  <% @recipes.each do |recipe| %>
    <article>
      <header>
        <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
      </header>
      <p>
        <i>Ingredientes:</i> <%= recipe.stuff %>
      </p>
      <p>
        <i>Calorias:</i> <%= formata_caloria(recipe) %>
      </p>
      <p>
        <i>Modo de Preparo:</i> <%= recipe.prepare_mode %>
      </p>
    </article>
  <% end %>